%h1 New Book
= form_with model: @book do |book|
  %div
    = form.label :title
    %br/
    = form.text_field :title
  %div
    = form.label :author
    %br/
    = form.text_area :author
  %div
    = form.submit